/migrations/
/__pycache__/

/Mentors/migrations/
/Mentors/__pycache__/

/Authentication/migrations/
/Authentication/__pycache__/

/Registrations/migrations/
/Registrations/__pycache__/

/Backend/migrations/
/Backend/__pycache__/

./db.sqlite3

db.sqlite3
