.home-background-image {
    position: relative;
    width: 100vw;
    height: fit-content;
    background-image: url("../../assets/images/home_bg.jpg");
    background-size: cover;
    background-position: center;
}

.home-background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* Adjust the rgba value for desired darkness */
    z-index: 1;
}

.home-background-image>* {
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .home-background-image {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .home-background-image {
        padding: 1rem;
    }
}